body {
  font-family: sans-serif;
  color: white;
  background-color: #131314;
}

/* navbar */
nav {
  display: flex;
  justify-content: flex-end;
  background-color: #131314;
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav a {
  text-decoration: none;
  font-size: 16px;
  color: grey;
  padding: 0.5em 1em;
}
nav a:hover {
  border-bottom: 1px solid cyan;
}
/* navbar */

/* home */
.home-main-div {
  height: 500px;
  display: flex;
  justify-content: center;
  padding: 2em;
  background-image: url(img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.home-card {
  text-align: center;
  margin: auto;
  padding: 1em;
}
.home-card img{
  width: 20%;
  border: 8px solid #1c1d20;
  backface-visibility: visible;
  border-radius: 8px;
}
.home-card h1{
  color: cyan;
}
.home-card p{
  font-size: 15px;
}
/* home */

/* about */
.about-main-div {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 2em;
  background-color: #1c1d20;
}
.about-card {
  width: 60%;
  display: flex;
  justify-content: center;
}
.about-left {
  width: 40%;
  margin: auto;
}
.about-left img{
  width: 100%;
  backface-visibility: visible;
  border: 10px solid #131314;
  border-radius: 8px;
}
.about-right {
  width: 50%;
  padding: 0em 1em;
}
.about-right h1{
  color: cyan;
}
.about-right p{
  line-height: 1.5em;
}
.about-right button {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.7em 1em;
  border-radius: 5px;
  background-color: #1c1d20;
  border: 1px solid cyan;
  cursor: pointer;
}
.about-right button a{
  font-size: 18px;
  text-decoration: none;
  color: cyan;
}
.about-right button:hover {
  background-color: cyan;
  border: 1px solid cyan;
}
.about-right button a:hover{
  color: #131314;
}
/* about */

/* services */
.s-main-div {
  height: 350px;
  padding: 2em;
  background-color: #131314;
}
.s-title {
  text-align: center;
  padding-bottom: 1em;
}
.s-title h1{
  color: cyan;
}
.s-card-div {
  display: flex;
  justify-content: center;
}
.s-card {
  width: 20%;
  background-color: #1c1d20;
  text-align: center;
  padding: 1em;
  margin: 1em;
}
.s-card h1{
  color: cyan;
}
.s-card i{
  font-size: 30px;
  padding: 0.5em;
  color: cyan;
}
.s-card p{
  font-weight: bold;
  font-size: 20px;
}
/* services */

/* works */
.works-main-div {
  height: auto;
  padding: 1em;
  background-color: #1c1d20;
}
.works-main-div h1{
  text-align: center;
  color: cyan;
}
.l-p {
  padding: 1em;
}
.l-p h1{
  text-align: left;
  margin-left: 1em;
  color: cyan;
}
.l-p-card {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 1em;
  margin-bottom: 1.5em;
  padding: 1em;
  color: cyan;
  border-top: 1px solid #131314;
  border-bottom: 1px solid #131314;
}
.l-p-img {
  width: 30%;
}
.l-p-img img{
  width: 100%;
}
.l-p-title {
  width: 60%;
}
.l-p-title p{
  color: grey;
}
/* works */

/* contact */
footer {
  display: flex;
  justify-content: center;
  background-color: #131314;
  padding: 1em;
}
.h1{
  padding-top: 1em;
  text-align: center;
  color: cyan;
}
.c-left {
  padding: 1em;
}
.c-left h2{
  color: cyan;
}
.c-left p{
  line-height: 1em;
}
.c-left a{
  color: white;
}
.c-left a:hover {
  color: cyan;
}
.c-left i{
  padding-right: 1em;
}
.c-right {
  padding: 1em;
}
.c-right input{
  width: 60%;
  border: none;
  border-bottom: 1px solid cyan;
  border-right: 1px solid cyan;
  border-radius: 5px;
  color: grey;
  padding: 0.8em;
  background-color: #1c1d20;
}
.c-right textarea {
  border: none;
  border-bottom: 1px solid cyan;
  border-right: 1px solid cyan;
  color: grey;
  padding: 0.8em;
  background-color: #1c1d20;
  overflow: hidden;
}
.c-right button {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  font-size: 18px;
  color: cyan;
  border-radius: 5px;
  background-color: #1c1d20;
  border: 1px solid cyan;
  cursor: pointer;
}
.c-right button:hover {
  color: #131314;
  background-color: cyan;
  border: 1px solid cyan;
}
/* contact */

/* other */
.fs {
  font-size: 18px;
  line-height: 2em;
}
/* other */

/* media */
@media screen and (max-width: 1200px) {
  .about-card {
    width: 100%;
  }
  .s-card {
    width: 30%;
  }
  .s-card-div {
    flex-wrap: wrap;
  }
  .l-p-img {
    margin: auto;
  }
  .l-p-title {
    width: 60%;
  }
  .a-p-card-div {
    flex-wrap: wrap;
  }
  .a-p-card {
    width: 30%;
  }
  footer {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
/* media */
